<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.hs.sj.notice.NoticeDAO">
  		
  		<select id="getNoticeList" resultType="NoticeDTO">
  			SELECT * FROM NOTICE
  		</select>
  		
  		<select id="getNoticeDetail" parameterType="NoticeDTO" resultMap="noticeDetailResult">
  			SELECT *
			FROM NOTICE
				LEFT OUTER JOIN
				NOTICEIMG
				USING(NUM)
			WHERE NUM = #{num}
  		</select>
  		
  		<resultMap type="NoticeDTO" id="noticeDetailResult">
			<id column="NUM" property="num"/>
			<result column="TITLE" property="title"/>
			<result column="CONTENTS" property="contents"/>
			<result column="WRITER" property="writer"/>
			<result column="REGDATE" property="regDate"/>
			<result column="HIT" property="hit"/>
			
			<association property="noticeImgDTO" javaType="NoticeImgDTO">
				<id column="FILENUM" property="fileNum"/>
				<result column="FILENAME" property="fileName"/>
				<result column="ORINAME" property="oriName"/>
			</association>
		</resultMap>
  		
  		<insert id="setNoticeAdd" parameterType="NoticeDTO">
  			<selectKey keyProperty="num" resultType="Long" order="BEFORE">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
			</selectKey>
			INSERT INTO NOTICE
			VALUES (#{num}, #{title}, #{contents}, #{writer}, SYSDATE, 1)
  		</insert>
  		
  		<insert id="setNoticeImgAdd" parameterType="NoticeImgDTO">
			INSERT INTO NOTICEIMG
			VALUES (NOTICE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
		</insert>
  		
  		<update id="setNoticeUpdate" parameterType="NoticeDTO">
  			UPDATE NOTICE SET TITLE = #{title}, CONTENTS = #{contents}, WRITER = #{writer} 
			WHERE NUM = #{num}
  		</update>
  		
  		<delete id="setNoticeDelete" parameterType="NoticeDTO">
  			DELETE NOTICE WHERE NUM = #{num} 
  		</delete>
  		
  	</mapper>